

.App {
  text-align: center;
  font-family:'Alegreya';

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myNav {
  font-size: 25px;
  padding: 15px;

}

button #gear {
  float: right;
  background-color: #222;
}

#main {
  background-color: #4F86F7;
}
 #logo {
  height: 45px;
}

.appNav {
  font-size: 50px;
}

.myBtn {
  background-color:#E5E5E5E5 ;
}

.title {
  text-align: center;

}

h3 {
  color: white;
  padding: 10px;
}

body {
  min-height: 100%;
}