
#intuButton {
	width: 40%;
	height: 200px;
	margin: 50px auto;

}



	.intuitPlatformConnectButton {

	height: 400px;

	}

a {
	font-size: 40px;
}

.intuitPlatformConnectButton, .intuitPlatformReconnectButton, #intuitPlatformAppMenu .intuitPlatformReconnectButton {
	margin-top: 75px;
	margin-left: 20px;
}