
#intuButton {
	
	width: 40%;
	margin-left: 25px;
	margin: 0 auto;

}	



	.intuitPlatformConnectButton {

	height: 400px;

	}

a {
	font-size: 40px;
}

.intuitPlatformConnectButton, .intuitPlatformReconnectButton, #intuitPlatformAppMenu .intuitPlatformReconnectButton {
	margin-top: 75px;
	margin-left: 20px;
}

#qb-img { 
	margin-top: 25px;
	margin-left: -45px;
	height: 50px;

 }

 .jumbotron {
 	height: 200px;
 	background: white;
 }
