li {
	color: white;
	list-style-type:  none;
	font-size: 20px;
	margin-right: 10px;
	height: 35px;
	
}

ul {
	text-decoration: none;
}

#form-button {

margin: 10px;
height: 25px;
padding: 3px;

}

.li-text {
	display: inline-block;
	width: 200px;
	text-overflow: wrap;
}

#myButtons {
	display: inline;
	
}


#myButtons2 {
	display: inline;
	float: right;
}
.jumbotron.mytable {
	height: auto;
}

td.td-width{
	padding-top: 10px;
}

#name {
	text-align: left;
	padding-top: 25px;
}

.btn-succes {
	width: 100%;
	margin-left: 200px;

}

button.my-btn {
	margin-left: 100px;
}