.navbar-default {

	background-color: #312581;
	text-align: center;
	width: 100%;
	font: 'Lucida Sans';

}

#gear {

float: right;
margin-top: 15px;
color: white;
font-size: 32px;
}

.tag-line {
	color: white;
}

img {
	margin-top: -10px;
}