.navbar-default {

<<<<<<< HEAD
	background-color: #a396ff;
=======
	background-color: #312581;
>>>>>>> a75db4ab864ce6345c5cb33aa8e708259ce6c273
	text-align: center;
	width: 100%;
	font-family: 'Halant';


}

#gear {

float: right;
margin-top: 15px;
color: #524b7f;
font-size: 32px;
}

.tag-line {
	color: white;
}

img {
	margin-top: -10px;
}