.navbar-default {

	background-color: #a396ff;
	text-align: center;
	width: 100%;
	font-family: 'Halant';


}

#gear {

float: right;
margin-top: 15px;
color: #524b7f;
font-size: 32px;
}

.tag-line {
	color: white;
}

img {
	margin-top: -10px;
}